/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

/*
font-family: 'DM Serif Display', serif;
font-family: 'Heebo', sans-serif;
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-family: "Heebo", sans-serif;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-family: "DM Serif Display", serif;
}

main {
  background: hsla(0, 0%, 97%, 1);
  padding: 20px 0 30px;
}

.artcile-text {
  text-align: center;
  font-family: "Heebo", sans-serif;
  padding: 25px 10px 30px;
  background: white;
  margin-bottom: 20px;
}

.article-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  margin-bottom: 50px;
}

.article-header.first {
  font-family: "DM Serif Display", serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.article-subtitle {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
}

.time {
  color: #b3b3b3;
}

h2 {
  font-size: 12px;
  font-weight: 500;
  line-height: 50px;
  background: #eee;
  padding-left: 20px;
  text-transform: uppercase;
}

.review {
  background: white;
  padding: 30px 20px;
  margin-bottom: 20px;
}

.review-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

.review-subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 20px;
}

.first .review-title,
.first .review-subtitle {
  font-family: "DM Serif Display", serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.first .review-subtitle {
  font-style: italic;
}

.info {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 20px;
  margin-bottom: 20px;
}

.review-text {
  font-size: 14px;
  font-weight: 300;
}
