/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

/*
font-family: 'DM Serif Display', serif;
font-family: 'Heebo', sans-serif;
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-family: "Heebo", sans-serif;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
  width: 100%;
}

/* ====================================
// Main rules
// ==================================== */
